<!DOCTYPE html>
<html>
	<head>
		<title> <%= @title %> </title>
	</head>

	<body>
		<h1> Welcome to your user database. </h1>
		<nav>
			<ul>
				<li> <a href="/users" title="showAllUsers">Show All Users</a></li>
				<% if @users != nil %>
				<% @users.each do |user| %>
				<li><a href="/users/<%= user.id %>"> User Detail Info </a></li>
				<% end %>
				<% else %>
				<p>No users have been created yet! </p>
				<% end %>
				<!-- <li> <a href="/users/<%= User.id %> title="userDetailInfo">User Detail Info</a></li> -->
				<li> <a href="/users/new" title="createNewUser">Create New User</a></li>
			</ul>
		</nav>
	</body>
</html>