<h1> Users </h1>
<a href="/users/new">Create a new User</a>
<form method='get' action='/users/new'>
	<input type="submit" value="Save User"/>
</form>
<% if @users.any? %>
<ul>
<% @users.each do |user| %>
<li><%= user.firstname %></li>
<% end %></ul>
<% else %>
<p>No users have been created yet! </p>
<% end %>