<html>
<head>
	<h1> Account Information: </h1>
</head>

<body>
	<nav>
		<%= "Username: #{settings.name} <br> Account ID: #{settings.accountID} <br> Balance: #{settings.balance}<br>" %>
	</nav>
	<a href="/"> Home </a>
</body>
</html>