<h1> <%=@title%> </h1>
<form action="/deposit" method='post'>
	Name: <input type='text' name='username'> </input> <br>
	Password: <input type='text' name='password'> </input> <br>
	Account ID: <input type='text' name='accountID'> </input> <br>
	Amount: <input type='text' name='deposit'> </input> <br>
	<input type='submit' name='submit'></input>
</form>