<!DOCTYPE html>
<html>
	<head>
		<h1> Welcome to your bank. </h1>
		<title> <%= @title %> </title>
	</head>

	<body>
		<nav>
			<ul>
				<li> <a href="/openAccount" title="OpenAccount">Open Account</a></li>
				<li> <a href="/depositForm" title="deposit">Deposit Money</a></li>
				<li> <a href="/withdrawForm" title="withdraw">Withdraw Money</a></li>
			</ul>
		</nav>
	</body>
</html>