<div class="header"> 
</div>

<form action="/signup" method='post' class='signup'>
	Create a Username: <input type='text' name='user' class='signup'> </input><br>
	Create a Password: <input type='password' name='password' class='signup'> </input><br>
	<input type='submit' value='Sign Up' id='signupButton'> </input> <br>
</form>